$icons: (
        sprite: (width: 166px, height: 175px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
doc: (width: 60px, height: 60px, backgroundX: 0px, backgroundY: 0px),
error-s: (width: 14px, height: 14px, backgroundX: -60px, backgroundY: -60px),
service-icon1: (width: 33px, height: 33px, backgroundX: -74px, backgroundY: -74px),
upload-close-s-g: (width: 14px, height: 14px, backgroundX: -107px, backgroundY: -107px),
upload-icon-s-b: (width: 16px, height: 19px, backgroundX: -121px, backgroundY: -121px),
upload-icon-s-g: (width: 16px, height: 19px, backgroundX: -137px, backgroundY: -140px),
upload-loaded-s-o: (width: 13px, height: 16px, backgroundX: -153px, backgroundY: -159px),
);