{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "react/boolean-prop-naming": [1, { "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+" }],
    "react/no-array-index-key": 2,
    "no-console": 0,
    "no-debugger": 1,
    "no-unused-vars": 1,
    "no-useless-escape": 0,
    "no-mixed-operators": 0,
    "semi": ["error", "never"],
    "radix": 0,
    "keyword-spacing": [2, { "before": true, "after": true }]
  }
}
