// Colors
$primary-color: #F68C28;
$secondary-color: #2E3941;
$primary-text-color:#2B3134;
$secondary-text-color:#A1A1A1;
$light-gray-color:#F3F3F3;
$green-color:#2BB874;
$success-color: #28a745;
$danger-color: #E0283E;
$warning-color: #ffc107;
$light-color: #17a2b8;
$dark-color: #343a40;

//css
$border-radius: 4px;
