{{> layout/head}}
<div class="wrapper">
  <div class="wrapper__wrap">
    <header class="header">
<div class="container">
  <div class="header__inner">
    <div class="header__logo"><a href="#"></a></div>
    <nav class="nav">
      <ul class="nav__inner">
        <li class="nav__item"><a href="#">Главная</a></li>
         <li class="nav__item"><a href="#">Услуги</a></li>
         <li class="nav__item"><a href="#">Вакансии</a></li>
          <li class="nav__item"><a href="#">Квартиры</a></li>
          <li class="nav__item"><a href="#">О нас</a></li>
        <li class="nav__item"><a href="#">Выбрать ТС</a></li>
      </ul>
    </nav>
    <div class="header__action">
      <div class="header__login"><a href="#">Войти</a></div>
    </div>
  </div>
</div>
    </header>

    <div class="wrapper__inner">


