{{!Главная страница}}

{{> layout/header}}

<main class="main">
    <div class="container">
        <section class="services">
            <div class="services__inner">
 <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/conversation.png" alt=""></div>
                    <div class="item-info">Обращение граждан</div>
                    <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/credit-card.png" alt=""></div>
                    <div class="item-info">Оплата ЖКУ</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/file.png" alt=""></div>
                    <div class="item-info">Документация</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/auction.png" alt=""></div>
                    <div class="item-info">Законадательство</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/feedback.png" alt=""></div>
                    <div class="item-info">Оценка персонала</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/tools.png" alt=""></div>
                    <div class="item-info">Услуги</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/cctv.png" alt=""></div>
                    <div class="item-info">Онлайн видеокамера</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
               <div class="services__item">
                <a href="#">
                    <div class="item-icon"><img src="../static/images/balloons.png" alt=""></div>
                    <div class="item-info">Развлечения</div>
                     <div class="item-subinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, mollitia!</div>
                </a>
            </div>
            </div>
           
        </section>
    </div>
</main>

{{> layout/footer}}
